# Insert data into  sql db

In [19]:
import pandas as pd
import sqlalchemy as alch
import os
import dotenv

dotenv.load_dotenv()

passw = os.getenv("pass_sql")
dbName = "scripts_sentiment"
cnxn = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(cnxn)

In [21]:
rm=pd.read_csv("RickAndMortyScripts.csv",encoding = "ISO-8859-1")

In [22]:
df=rm.iloc[:,[0,3,5,4,1]]

In [23]:
df.rename(columns={"ï»¿index":"index", "episode name":"episode_name","season no.":"season","line":"dialogue"}, inplace=True)
df.head()

/home/silviarico/.local/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,index,episode_name,dialogue,name,season
0,0,Pilot,Morty! You gotta come on. Jus'... you gotta co...,Rick,1
1,1,Pilot,"What, Rick? Whatâs going on?",Morty,1
2,2,Pilot,"I got a surprise for you, Morty.",Rick,1
3,3,Pilot,It's the middle of the night. What are you tal...,Morty,1
4,4,Pilot,"Come on, I got a surprise for you. Come on, h...",Rick,1

In [24]:
def check(que,string):
    """
    Función parametrizada que comprueba en cada tabla si existe el user, artista o canción.
    Devuelve True si existe y False si no
    """
    if que == "personaje":
        query = list(engine.execute(f"SELECT personaje FROM personajes WHERE personaje = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif que == "Temporada":
        query = list(engine.execute(f"SELECT Temporada FROM temporadas WHERE Temporada = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
    elif que =="dialogo":
        return False

In [25]:
lista_personajes=list(df.name.unique())

In [26]:
def insertpersonaje(nombre):
    
    if check("personaje", nombre):
        return  "existe"
    else:
        engine.execute(f"INSERT INTO personajes (personaje) VALUES ('{nombre}');")

In [27]:
for i in lista_personajes:
    insertpersonaje(i)

In [28]:
lista_temporadas=list(df.season.unique())
lista_temporadas

[1, 2, 3]

In [33]:
def insertseason(s):

    if check("Temporada", s):
        return "existe"
    else:
        engine.execute(f"INSERT INTO Temporada (temporada) VALUES ('{s}');")

In [34]:
for i in lista_temporadas:
    insertseason(i)

In [31]:
df.season.isna().sum()

0

In [35]:
import re
def quitar_raro(string):
    pat = "â"
    sin_raro = re.sub(pat,"'",string)
    return sin_raro

In [36]:
df["dialogue"] = df.dialogue.apply(quitar_raro)

<ipython-input-36-c695835a0625>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["dialogue"] = df.dialogue.apply(quitar_raro)

In [37]:
def dameId(que,string):
    """
    Devuelve el ID de lo que le pidamos sabiendo que ese elemento EXISTE
    """
    if que == "personaje":
        return list(engine.execute(f"SELECT `idpersonaje` FROM personajes WHERE personaje ='{string}';"))[0][0]
    elif que == "Temporada":
        return list(engine.execute(f"SELECT `idtemporada` FROM temporadas WHERE Temporada ='{string}';"))[0][0]

In [41]:
dameId("personaje","Morty")

2

In [42]:
def insertdialogo(fila):
    """
    La función final 
    """
    if check("dialogo", fila["dialogue"]):
        if check("personaje", fila["name"]):
            idpersonaje = dameId("personaje", fila["name"])
        else:
            personaje(fila["name"])
            idpersonaje = dameId("personaje", fila["name"])
       
        if check("Temporada", fila["season"]):
            idtemporada = dameId("Temporada", fila["season"])
        else:
            Temporada(fila["season"])
            idtemporada = dameId("Temporada", fila["season"])        
            
        engine.execute(f"""
        INSERT INTO dialogos (idDialogos, dialogo, personaje, temporada, Temporada_idtemporada, personajes_idpersonaje) VALUES
        (NULL, "{fila['dialogue']}","{fila['name']}", "{fila['season']}","{idtemporada}","{idpersonaje}");
        """)

In [43]:
for index, fila in df.iterrows():
    insertdialogo(fila)

,index,episode_name,dialogue,name,season
0,0,Pilot,Morty! You gotta come on. Jus'... you gotta co...,Rick,1
1,1,Pilot,"What, Rick? What's going on?",Morty,1
2,2,Pilot,"I got a surprise for you, Morty.",Rick,1
3,3,Pilot,It's the middle of the night. What are you tal...,Morty,1
4,4,Pilot,"Come on, I got a surprise for you. Come on, h...",Rick,1
...,...,...,...,...,...
1900,2483,Tales From the Citadel,That was amazing!,Morty,3
1901,2484,Tales From the Citadel,Got some of that mermaid puss!,Rick,3
1902,2485,Tales From the Citadel,I'm really hoping it wasn't a one-off thing an...,Morty,3
1903,2486,Tales From the Citadel,"Pssh! Not at all, Morty. That place will never...",Rick,3
1904,2487,Tales From the Citadel,"Whoo! Yeah! Yeaah! Ohhh, shit!",Morty,3